/* *************************** */
/*        WEBSITE LOADER       */
/* *************************** */

.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.preloader {
  /* background: #333; */
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.ring {
  position: absolute;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #ff00ff;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #3620b5;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #ff00ff;
  }
}

.ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.loader span {
  color: #737373;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 200px;
  animation: text 3s ease-in-out infinite;
}

@keyframes text {
  50% {
    color: #333;
  }
}

/* *************************** */
/* GENERAL COMPONENTS */
/* *************************** */

header {
  margin: auto;
  overflow: hidden;
  background: linear-gradient(
    315deg,
    rgba(101, 0, 94, 1) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgb(51, 48, 238) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 40s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* *************************** */
/* NAVIGATION */
/* *************************** */

/* ****  CAROUSEL  **** */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel {
  background-color: #fff;
  padding: 4px 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.discount-carousel {
  display: inline-block;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12rem; */
  animation: 35s slide infinite linear;
}

.carousel:hover .discount-carousel {
  animation-play-state: paused;
}

.discount-carousel img:nth-child(1),
.discount-carousel img:nth-child(3),
.discount-carousel img:nth-child(5) {
  height: 30px;
  margin: 0 60px;
}

.discount-carousel img:nth-child(2),
.discount-carousel img:nth-child(4),
.discount-carousel img:nth-child(6) {
  height: 18px;
  margin-bottom: 6px;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 3.5rem;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.game-link {
  cursor: pointer;
}

/* NAVIGATION */

.nav-container {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;
  /* Because we want the nav to be 'sticky' (it will move when we scroll along with the page), we set the height and padding: */
  padding: 0 4.8rem;
}

.logo-btn {
  display: flex;
  align-items: center;
}

.logo-btn:hover {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-10deg);
  }
  20% {
    transform: rotateZ(5deg);
  }
  25% {
    transform: rotateZ(-5deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  35% {
    transform: rotateZ(-2deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

.logo {
  /* height: 14rem; */
  width: 80%;
}

.main-nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  letter-spacing: 0.15rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fefbf8;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff00ff;
}

.social-pages {
  /* To add social media and other icons from ionicons, copy the link from ionicons/usage before the final body, and then we can paste the links from the ionicon icons we want to use */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-left: 5rem;
}

.header-main-icon {
  font-size: 2.3rem;
}

/* *************************** */
/*        MAIN SECTION         */
/* *************************** */

.main-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  color: white;
  font-size: 6em;
  text-align: center;
}

#head1,
#head2,
#head3,
#head4,
#head5,
#head6 {
  opacity: 0;
}

#head1 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

#head4 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

#head5 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

#head6 {
  -webkit-animation: finalFade 1 5s ease-in;
  -moz-animation: finalFade 1 5s ease-in;
  -o-animation: finalFade 1 5s ease-in;
  animation: finalFade 1 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 27s;
  -moz-animation-delay: 27s;
  -o-animation-delay: 27s;
  animation-delay: 27s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.section-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.free-quote-btn {
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: "Roboto", sans-serif;
  color: white;
  opacity: 0.4;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 1rem 6.2rem;
  border-radius: 2rem;
  justify-content: center;
}

.free-quote-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.free-quote-btn:focus {
  outline: none;
}

/* WAVES */

.section-waves {
}

.wave {
  border-radius: 500% 1000% 0% 0%;
  position: absolute;
  width: 240%;
  height: 0em;
  animation: wave 5s -3s reverse infinite;
  transform: translate3d(0, 0, 0);
  /* opacity: 0.8; */
  bottom: 0;
  left: 0;
  z-index: 5;
  background: #fff;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 5s linear reverse infinite;
  opacity: 0.2;
  height: 6.5em;
  width: 200%;
  color: #fff;
}

.wave:nth-of-type(3) {
  bottom: -2em;
  animation: wave 7s 0 reverse infinite;
  /* opacity: 0.2; */
  height: 6em;
  color: #fff;
}

@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-20%);
  }

  75% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(1);
  }
}

/* *************************** */
/*        INFO SECTION         */
/* *************************** */

.section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 8rem auto 4rem auto;
}

.info-cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 140rem;
  column-gap: 2rem;
  margin-bottom: 8rem;
}

.info-heading-box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(119, 119, 119, 0.5);
  /* text-transform: uppercase; */
  margin-right: 2rem;
  text-align: center;
}

.info-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 500;
  font-size: 3.2rem;
  /* opacity: 0.7; */
}

.info-heading span {
  font-size: 4rem;
  text-transform: uppercase;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  /* justify-content: center; */
  align-items: center;
  margin: 0 3.2rem;
}

.info-icon {
  font-size: 5.2rem;
  color: #cc00cc;
}

.info-title {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  color: #cc00cc;
}

.info-text {
  font-size: 1.6rem;
  letter-spacing: 0.75px;
  line-height: 25px;
  text-align: center;
}

.get-started-btn {
  border: 2px solid #222;
  background: #222;
  color: white;
  letter-spacing: 0.5px;
  padding: 0.8rem 2.4rem;
  font-size: 1.8em;
  border-radius: 2rem;
  margin: 0 auto;
  transition: all 0.4s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}

.get-started-btn:hover {
  border: 2px solid #3620b5;
  background: #3620b5;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

/* *************************** */
/* PORTFOLIO SECTION */

.slide-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    20deg,
    rgba(54, 32, 181, 1) 11%,
    rgba(102, 171, 201, 1) 100%
  );
  overflow: hidden;
}

.portfolio-title {
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  padding-top: 10rem;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 6rem;
}

.slider-container {
  position: relative;
  width: 80%;
  max-width: 120rem;
  height: 60rem;
  /* overflow: hidden; */
  margin-bottom: 0.5rem;
}

.slide_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 1s ease, transform 2s ease;
  cursor: pointer;
}

.slide_img.active {
  opacity: 1;
  transform: translateX(0);
}

.slide_img img {
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 1%;
  /* Responsive image */
  width: 100%;
  height: auto;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 8rem;
  color: #ffd9ff;
  margin-left: 1rem;
  border: 0.2rem solid rgb(255, 217, 255, 0.4);
  border-radius: 50%;
  padding: 12rem;
}

.prev:hover,
.next:hover {
  transition: 0.3s;
  color: #ff00ff;
}

button.prev {
  left: -30rem;
}

button.next {
  right: -29rem;
}

#nav_slide {
  display: flex;
  justify-content: center;
  margin-bottom: 15rem;
}

.dots {
  width: 12px;
  height: 12px;
  margin: 0 4px;
  /* position: relative; */
  border-radius: 100%;
  display: inline-block;
  background-color: #ffd9ff;
  transition: 0.4s;
  cursor: pointer;
}

.dots.active {
  background-color: #ff00ff;
}

/* *************************** */
/* HOW IT WORKS SECTION */
/* *************************** */

.section-how {
  padding: 3.2rem 0 3.2rem 0;
  background-color: #ffe6ff;
}

.heading-tertiary {
  margin-bottom: 2.4rem !important;
}

.steps {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 3.2rem;
  margin-bottom: 7rem !important;
}

.step-number {
  /* color: #ff00ff; */
  font-size: 6rem;
  font-weight: 600;
  z-index: 3;
}

.step-number:hover {
  animation: wiggle 2s infinite;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.6;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  /* We add 'position: relative' because 'step-img-box' is the parent element to the shape we're adding in '.step-img-box::before' */
  position: relative;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 25%;
  padding-bottom: 25%;
  background-color: #afa6e1;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin: 1rem;
}

.step-img-box::after {
  width: 20%;
  padding-bottom: 20%;
  background-color: #ffe6ff;
  content: "";
  display: block;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.mm-mini-icon1,
.mm-mini-icon2,
.mm-mini-icon3 {
  display: block;
  width: 5%;
  padding-bottom: 25%;
  /* border-radius: 50%; */
  position: absolute;
  top: 42%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.mm-mini-icon1 {
  left: 43%;
  top: 57%;
  z-index: 3;
}

.mm-mini-icon2 {
  left: 50%;
  top: 49%;
  z-index: 3;
}

.mm-mini-icon3 {
  left: 61%;
  top: 57%;
  z-index: 3;
}

.plans-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 8rem 0 1rem 0;
  color: #333;
}

.plan-link--text {
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.chevron-down-icon {
  font-size: 3rem;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  color: #ff00ff;
  margin-top: -0.5rem;
}

.plans-link:hover {
  transform: translateY(+1rem);
  transition: all 0.4s;
}

/* *************************** */
/* PLANS SECTION */
/* *************************** */

.section-options {
  padding: 3.2rem 0 6rem 0;
}

.booking-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  width: 100rem;
}

.tag-page {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.05);
  border-radius: 1.1rem;
  position: relative;
  z-index: 1;
}

.page-title {
  padding: 0.4rem 0.8rem;
  font-size: 2.6rem;
  text-transform: uppercase;
  color: #333;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  top: -4.2%;
  z-index: 10;
  background-color: #fff;
}

.one-page {
  border: 2px solid #555;
}

.business-page {
  border: 2px solid #3620b5;
}

.enterprise-page {
  border: 2px solid #ff00ff;
}

/* **** Mooving box **** */

/* .booking:hover {
  transform: translateY(-1.2rem);
  transition: all 0.4s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
} */

.booking-content {
  /* padding: 1.2rem 4.8rem 2.4rem 4.8rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.booking-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}

.booking-img {
  width: 100%;
}

.booking-icon1 {
  font-size: 2.4rem;
  color: #333;
}

.booking-icon2 {
  font-size: 2.4rem;
  color: #3620b5;
}

.booking-icon3 {
  font-size: 2.4rem;
  color: #ff00ff;
}

.price {
  font-size: 4.4rem;
  color: #333;
  font-weight: 500;
  margin: 4.8rem 0 4.8rem 0;
}

.pound {
  font-size: 2.4rem;
}

.vat {
  font-size: 1.2rem;
  color: #999;
  font-weight: 400;
}

.attribute {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribute-title {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.booking-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.4rem;
}

.booking-attribute {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* *** BTN *** */
.btn-place {
  display: flex;
  justify-content: center;
  margin-bottom: 2.4rem;
}

.btn {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 3.2rem;
  border-radius: 1rem;
  font-size: 1.8em;
  margin: 0 auto;
  transition: all 0.4s;
  letter-spacing: 0.2rem;
  font-weight: 500;
  justify-content: center;
  position: absolute;
  bottom: -1.5rem;
}

.btn--border1 {
  color: #fff;
  border: solid 2.4px #444;
  background: #444;
}

.btn--border1:hover,
.btn--border1:active {
  background-color: #111;
  border: solid 2.4px #111;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn--border2 {
  color: #fff;
  border: solid 2.4px #3620b5;
  background-color: #3620b5;
}

.btn--border2:hover,
.btn--border2:active {
  background-color: #100261f1;
  border: solid 2.4px #100261f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.btn--border3 {
  color: #fff;
  border: solid 2.4px #ff00ff;
  background-color: #ff00ff;
}

.btn--border3:hover,
.btn--border3:active {
  background-color: #d106d1;
  border: solid 2.4px #d106d1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.mm-mini-icon4 {
  display: inline-block;
  margin: 0 auto;

  width: 13%;
  padding-bottom: 25%;
  /* border-radius: 50%; */
  position: absolute;
  /* position: absolute added to booking-content */
  transform: translate(-50%, -50%);
  z-index: -2;
  left: 92%;
  top: 3.4%;
  z-index: 3;
}

.place-info {
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-top: 8rem;
}

.place-info h3 {
  /* text-align: center; */
}

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  font-size: 3rem;
  color: #888;
}

.subheading::after {
  /* content: "";
  position: relative;
  display: block;
  width: 100px;
  height: 6px;
  background-color: #3620b5;
  margin-top: 10px;
  margin-bottom: 0.5em; */
}

/* Responsive Infinite Carousel slider */

.integrations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20rem;
  margin-top: 6rem;
}

.brand-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 65%;
}

.brand-carousel img {
  height: 3rem;
  opacity: 55%;
  filter: brightness(0);
}

.trustpilot {
  padding-bottom: 5px;
}

.livechat,
.instagram {
  padding-top: 5px !important;
}

/* *************************** */
/* STATS SECTION */
/* *************************** */

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.4rem 0 10rem 0;
  gap: 2.4rem;
  background-color: #3620b5;
  color: #ff00ff;
}

.stats-title {
  font-size: 2rem;
  display: block;
  text-decoration: none;
  color: #ff80ff !important;
}

.counters {
  padding: 0 auto;
  color: #fff;
  text-align: center;
}

.counters > div {
  max-width: 120rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4em 2em;
}

.counter {
  position: relative;
  padding: 0 4rem;
}

.counter p {
  font-size: 6em;
  margin-bottom: 0.3em;
}

.counter h3 {
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: 1px;
}

.counter:not(:last-child)::before {
  content: "";
  background: #ff80ff;
  position: absolute;
  width: 2px;
  height: 3em;
  top: 50%;
  transform: translateY(-50%);
  right: -1em;
}

/* Responsive design */
@media screen and (max-width: 1200px) and (min-width: 501px) {
  .counters > div {
    grid-template-columns: 1fr 1fr;
  }
  .counter:nth-child(2)::before {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .counters > div {
    grid-template-columns: 1fr;
    row-gap: 5em;
  }
  .counter:not(:last-child)::before {
    width: 90%;
    height: 2px;
    top: initial;
    right: initial;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
  }
}

.stats:hover {
  /* in 'translate' we have two values that we need to provide. The first is horizontal movement, the second is vertical movement. If we add the addition of 'Y' to the word 'translate', we will be able to provide only one value and format the movement only according to the 'Y' axis (horizontal) */
  transform: translateY(-1.2rem);
  transition: all 0.4s;
}

/* *************************** */
/* FAQ SECTION */
/* *************************** */

.faq-section {
  min-height: 95vh;
  width: 70rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-section-title {
  font-size: 4.4rem;
  line-height: 1.2;
  margin: 6.4rem 0 2.4rem 0;
}

.faq {
  max-width: 70rem;
  margin-top: 3.2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #333;
  cursor: pointer;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.faq-question p {
  font-size: 2rem;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
  color: #666;
}

.faq-answer p {
  font-size: 1.6rem;
  padding-top: 1.2rem;
  line-height: 1.6;
}

.faq.active .faq-answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}
ousel svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* *************************** */
/* ASIDE SECTION */
/* *************************** */

aside {
  /* background: #999; */
  /* border-bottom: 2px solid #ff00ff; */
}

.aside-box {
  padding: 0 0 10rem 0 !important;
  text-align: center;
}

.aside-box p {
  font-size: 4rem;
  letter-spacing: 1px;
}

.aside-box span {
  font-weight: 600;
}

/* *************************** */
/* FOOTER SECTION */
/* *************************** */

.footer {
  padding-top: 4rem;
  background: rgb(54, 32, 181);
  /* background: linear-gradient(
    20deg,
    rgba(54, 32, 181, 1) 25%,
    rgba(102, 171, 201, 1) 100%
  ); */
}

.footer-logo-box {
  /* justify-content: right !important; */
}

.footer-logo {
  width: 40%;
  opacity: 90%;
}

.footer-title {
  font-weight: 600 !important;
}

.footer-box {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1fr;
  margin: 6.4rem auto 0 -4rem;
}

.footer-box div {
  font-size: 1.8rem;
  color: #ffe6ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: -4rem;
}

.address-box p {
  font-size: 1.4rem;
}

.address-title {
  font-weight: 600 !important;
}

.footer-box-2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-right: 1px solid #ffe6ff;
}

.footer-box-2 a {
  cursor: pointer;
  text-decoration: none;
  color: #ffe6ff;
  transition: all 0.4s;
}

.footer-box-2 a:hover {
  color: #ff00ff;
}

.voucher-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-weight: 600;
  color: #ff33ff;
  font-size: 2.4rem !important;
  cursor: pointer;
  transition: all 0.4s;
}

.voucher-box:hover {
  color: #cc00cc;
}

.silkscreen-font {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2px;
}

/* FOOTER BOTTOM */
/* *************************** */

.footer-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8rem 4rem 0 4rem;
}

/* FOOTER ICONS */

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  /* padding-left: 4rem; */
  align-items: center;
  padding-top: 1rem;
}

.footer-icon:link,
.footer-icon:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.4s;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.icon-footer {
  width: 3rem;
  height: 3rem;
}

.icon-footer:hover,
.social-icon:hover,
.mail-icon:hover {
  animation: wiggle 2s linear infinite;
}

.social-icon {
  font-size: 2.8rem;
}

.mail-icon {
  font-size: 3.2rem;
  margin-top: -1px;
}

/* COPYRIGHT SECTION */
.copyright-section {
  display: flex;
  justify-content: right;
  /* padding-right: 4rem; */
  align-items: center;
  padding-top: 0.2rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  transition: 0.4s all;
}

.copyright:hover {
  color: #ff33ff;
}

/* *************************** */
/* TO THE TOP BTN */
/* *************************** */

.to-top-box {
  overflow: hidden;
}

.to-top {
  background: #ff00ff;
  position: fixed;
  bottom: 1.6rem;
  right: 3.2rem;
  top: 78%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* border: 2px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2rem;
  color: #fff;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 4;
}

.to-top:hover {
  background: #cc00cc;
}

.to-top.active {
  /* bottom: 15rem; */
  pointer-events: auto;
  opacity: 100;
}

/* *************************** */
/* *** MODAL WINDOW        *** */
/* *************************** */

.gateway--section {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.1s linear;
  overflow: hidden;
}

.form_title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.8rem;
}

.form-title {
  /* margin-bottom: 2.4rem; */
  font-size: 3rem;
  /* color: #3620b5; */
}

.form_title-img {
  width: 5%;
}

.quote-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 4rem -5rem;
}

.quote-text {
  font-size: 1.4rem;
  letter-spacing: 0.4px;
}

.timer-icon {
  font-size: 4.4rem;
  color: #ff00ff;
}

.gateway-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  min-height: 50vh;
}

.elementor-field-label {
  margin-bottom: 0.4rem !important;
}

.gateway-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 1rem;
  padding: 20px;
  width: 80rem;
  background: #fff;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}

.gateway-form label {
  display: block;
  /* display:block' will line up each element in 'label' */
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.gateway-form input,
.gateway-form select {
  width: 100%;
  padding: 0.5rem 1.2rem;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: 1px;
  /* IMPORTANT! 'font-family: inherit' means that the font-family in the fields (which is different than the one we set in the body) will also change to the one used throughout the page - it inherits the feature from the parent element */
  border: 2px solid #e6e4e4;
  color: inherit;
  /* We must use 'inherit' to force the color inside to change to the color specified in 'cta-text-box' */
  background-color: #fff;
  /* border-radius: 9px; */
  margin-top: 0.25rem;
}

.gateway-form input::placeholder {
  color: #aaa;
}

.gateway-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.card-box {
  margin-bottom: 1.7rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.card-box img {
  width: 70%;
}

.card-box span {
  font-size: 1.4rem;
  font-weight: 600;
}

.gateway--section form .checkout-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  background: #3620b5;
  color: #fff;
  border: 2px solid #3620b5;
  cursor: pointer;
  grid-column: 1/-1;
  margin-top: 2.4rem;
}

.gateway--section form .checkout-btn:hover {
  background: #2b1a91;
  border: 2px solid #2b1a91;
}

.text_area {
  background-color: #ffffff5c;
  border-color: #e6e4e4;
  border-width: 2px;
  font-size: 14px;
  padding: 8px 10px;
  width: 100%;
  resize: none;
  font-family: inherit;
}
