/* 

--- 01 TOPOGRAPHHY SYSTEM

Font size system (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

--- 02 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Font weights:
Default: 400
Medium:500
Semi-bold:600
Bold: 700
ExtraBold: 800

- Line heights:
Default: 1
Small: 1.05
Medium: 1.2
Parafraf default: 1.6

- Letter spacing
-0,5px
0.75px



--- 03 COLORS

- Primary: #7c0ebd  #fff #f91d8a
- Tints: 
- Shades: #fffbeb 
- Accents:
- Greys: #555 #333 #999


--- 04 SHADOWS
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

--- 05 BORDER RADIUS
Default: 0.9rem

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #555;
  /* background-image: linear-gradient(to right bottom, #fff, #e6e6e6); */
  /* background: #fff; */
}

html {
  /* 
  CHANGING THE FONT FROM PX TO REM
  !!!   1trem = 16px   !!! */
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  /* To make the web scroll smoothly:  */
  overflow-x: hidden;

  scroll-behavior: smooth;
}

/* Removed 'focused field' - blue frame of buttons visible when pressed */

*:focus {
  outline: none;
  /* box-shadow: 0 0 0 0.5rem rgba(224, 238, 205, 0.5); */
}

.heading-primary {
  font-size: 3.6rem;
  line-height: 1.5;
  margin-bottom: 4.2rem;
}

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 700;
  /* color: #66a80f; */
  color: #52860c;
  text-transform: uppercase;
  margin-bottom: 4rem;
  letter-spacing: -0.75px;

  display: flex;
  align-items: center;
}

.heading-tertiary {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 700;
  color: #555;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

/* CREATING A UNIVERSAL GRID/CONTAINER THAT WILL BE USED THROUGHOUT THE ENTIRE PROJECT */

.container {
  max-width: 120rem;
  /* 120rem because 1200px or 1140px is considered standard on websites */
  margin: 0 auto;
  /* margin: 0 auto because these values are accepted as standard on pages */
  padding: 0 3.2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  /* grid-center-verticly - we use it as an auxiliary class to center all elements in boxes grid container class */
  align-items: center;
}

/* *******  OTHERS - NOT USED    ******* */

.center-text {
  text-align: center;
}

.margin-bottom-md {
  margin-bottom: -1.2rem !important;
}

/* INNE - NIE WYKORZYSTANE: */

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3.2rem;
  border-radius: 3rem;
}

.btn--border:link,
.btn--border:visited {
  background-color: #66a80f;
  color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.btn--border:hover,
.btn--border:active {
  background-color: #e0eecf;
  color: #66a80f;
}

.btn--learn:link,
.btn--learn:visited {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  border-radius: 3rem;
  color: #66a80f;
  box-shadow: inset 0 0 0 2px #66a80f;
  transition: all 0.3s;
}

.btn--learn:hover,
.btn--learn:active {
  color: #66a80f;
  background-color: #e0eecf;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/* MODAL WINDOW */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;

  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
