/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* *************************** */
/* BELOW 1350px (Smaller desktops) */
/* *************************** */

/* 1350px/16 = 84em */
@media (max-width: 84em) {
  .feature-info {
    margin: 4.2rem 0 4.2rem 4.2rem;
  }
}

/* *************************** */
/* BELOW 1200px (Landscpe Tablets) */
/* *************************** */

/* 1200px/16 = 75em */
@media (max-width: 75em) {
  html {
    /* By default, the font was set to 10px, we want to reduce this value so that everything on the screen is scaled, so we reduce the font by 1px to 9px, but since we want to present this value in %, we divide 9px / 16px = 56.25 --> which means that everything will be scaled and visible as 56.25% of the full image in px */
    font-size: 56.25%;
  }

  .header {
    height: 8rem;
  }

  .logo {
    width: 55%;
  }

  .logo-link {
    justify-content: left;
  }

  .main-nav-link {
    font-size: 1.8rem !important;
  }

  .main-nav-list {
    gap: 3.1rem;
  }

  .element:link,
  .element:visited {
    font-size: 1.8rem !important;
  }

  .heading-primary {
    font-size: 3rem;
    margin-bottom: 2.4rem;
  }

  .heading-primary span {
    font-size: 4.4rem;
  }

  .liverpool {
    margin-bottom: 2.4rem;
  }

  .liverpool-font {
    font-size: 2rem;
  }

  .main-text-box {
    margin-left: 4rem;
  }

  .btn-main,
  .btn-learn,
  .btn--border {
    justify-content: center;
    font-size: 1.8rem !important;
  }

  .img-main {
    width: 89%;
    margin-left: 8rem;
  }

  /* REVIEW */

  .journal,
  .calibri {
    font-size: 1.6rem;
  }

  .roman,
  .zeitung {
    font-size: 1.7rem;
  }

  /* HOW SECTION */

  .heading-tertiary {
    font-size: 2rem;
  }

  /* MEALS SECTION */

  .heading-secondary {
    margin-bottom: 1.2rem;
  }

  .meal-options {
    column-gap: 0.2rem;
  }

  .option {
    background-color: #fffcf3;
  }

  .diet {
    flex-direction: column;
    margin: 4.8rem 0 0 0;
    align-items: center;
  }

  .checkbox {
    font-size: 3rem;
  }

  .diet-list {
    font-size: 1.6rem;
    gap: 1.2rem;
  }

  /* DELIVERY SECTION */

  .section-delivery,
  .footer {
    padding-left: 2.4rem;
  }

  .grid {
    column-gap: 0.4rem;
  }

  .delivery-car {
    width: 60%;
  }

  .delivery-check {
    margin-top: 2.4rem;
  }

  .delivery-text-box {
    margin: 0 0 0 2.4rem;
  }

  .search .field {
    width: 34rem;
  }

  .uk-map {
    width: 60%;
  }

  /* FEATURE */
  .feature-box {
    column-gap: 2rem;
  }
}

/* *************************** */
/* BELOW 944px (Tablets) */
/* *************************** */

/* 944px/16 = 59em */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .logo {
    width: 50%;
  }

  .main-nav-list {
    margin-right: 0rem;
  }

  /* REVIEW */

  /* HOW SECTION */

  /* MEALS SECTION */

  .meal-options {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.2rem;
  }

  .diet-list {
    grid-template-columns: 1.2fr 0.8fr 1fr 1fr;
    column-gap: 2.4rem;
    row-gap: 1.8rem;
  }

  .diet {
    margin: 4.8rem 0 0 0;
  }

  .diet-attributes {
    display: flex;
    justify-content: flex-start;
    gap: 0.4rem;
  }

  /* DELIVERY SECTION */

  .uk-map {
    width: 60%;
  }

  /* FOOTER SECTION */

  /* ICON BAR */

  .icon-bar {
    display: none;
  }

  /* *** MOBILE NAVIGATION - BELOW 944px (Tablets) *** */

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.938);
    position: absolute;
    /* position: absolute means that this whole element is taken out of the flow here and basicly are no longer flex item. It is therefore a completely independent element.   */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    /*  Adding overflow-x: hidden to 'body' and 'html' and to .header --> position: relative - means that all elements that will stick out in the X axis will always be hidden */

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    /* *** HIDE Navigation *** */
    /* display: none; */
    /* ale.. display: none allows NO transitions at all -> if we set display: none to 'transitions' it will not work, so we cannot animate this field, so we have to find another way, i.e. (1, 2, 3): */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  /* ADDING an additional class 'nav-open' to the 'header' in the html, which will apply to the click on 'menu-outline'. 'nav-open' is now the parent element of 'main-nav'. This class is used to make the menu appear */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  /* Now we want the 'menu-outline' icon to disappear and appear instead when the mobile-nav menu is opened. 'close-outline'*/
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 2.8rem !important;
  }

  .main-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;

    /* z-index: 9999 added to cover all elements */
    z-index: 9999 !important;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.8rem !important;
  }

  .element:link,
  .element:visited {
    font-size: 2.4rem !important;
  }
}

/* *************************** */
/* BELOW 704px (Smaller Tablets) */
/* *************************** */

/* 704px/16 = 44em */
@media (max-width: 44em) {
  .header {
    padding: 0 2.4rem;
  }

  /* MAIN SECTION */

  .main {
    grid-template-columns: 60% 40%;
  }

  .section-main {
    /* If we have background-color set, we use padding to make spaces */
    background: rgb(255, 212, 59);
    background: linear-gradient(
      94deg,
      rgba(255, 212, 59, 1) 40%,
      rgba(255, 255, 255, 1) 67%
    );
  }

  .main-text-box {
    margin-left: 0rem;
  }

  .img-main {
    width: 98%;
    margin-left: 4rem;
  }

  .heading-primary {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
  }

  .heading-primary span {
    font-size: 3.6rem;
  }

  /* REVIEW */

  .times-stars {
    gap: 0.8rem;
    padding: 0rem;
  }

  .review-section {
    row-gap: 3.2rem !important;
    grid-template-columns: repeat(2, 1fr);
  }

  .star--1,
  .star--2 {
    margin-top: 2.4rem;
  }

  .star--3,
  .star--4 {
    margin-bottom: 2.4rem;
  }

  .journal {
    font-size: 1.5rem;
  }

  .roman {
    font-size: 1.6rem;
  }

  .calibri {
    font-size: 1.7rem;
  }

  .zeitung {
    font-size: 1.6rem;
  }

  /* HOW SECTION */

  .how-box {
    column-gap: 0rem;
    row-gap: 4.2rem;
    margin-top: 3.6rem;
  }

  .step-number {
    color: #ffd43b;
    font-size: 5.2rem;
    font-weight: 600;
  }

  .step {
    gap: 2rem;
  }

  .heading-tertiary {
    font-size: 1.8rem;
  }

  /* MEALS */

  .diet-list {
    grid-template-columns: 1.2fr 0.8fr 1fr 1fr;
    column-gap: 2.4rem;
    row-gap: 1.8rem;
  }

  .diet {
    margin: 4.8rem 0 0 0;
  }

  /* DELIVERY SECTION */

  .uk-map {
    display: none;
  }

  .delivery-check {
    grid-template-columns: 1fr;
    margin-top: 3.2rem;
    row-gap: 0rem;
  }

  .delivery-text-box {
    padding: 4rem 0 4rem 0;
    margin-left: 0rem;
  }

  .search .field {
    width: 32rem;
    padding: 0 1.5rem 0 1.5rem;
    height: 5.5rem;
    font-size: 1.6rem;
    background-color: #fffbeb;
  }

  .btn--search {
    font-size: 2rem;
  }

  /* FEATURE SECTION */

  .feature-box {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.8rem;
    row-gap: 4.8rem;
  }

  /* FOOTER SECTION */

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
    row-gap: 3.2rem;
  }

  .footer {
    padding: 8rem 0;
    margin-left: 6.4rem;
  }

  .footer-logo {
    margin-bottom: 4.8rem;
    width: 70%;
  }

  .footer-logo {
    margin-bottom: 1.6rem;
  }

  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    /* Moving the 3 'nav-col' columns so that they are first in the line, with the logo and 'contact us' at the bottom */
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 2.4rem;
  }
}

/* *************************** */
/* BELOW 544px (Phones) */
/* *************************** */

/* 550px/16 = 34em */
@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  /* MAIN SECTION */

  .img-main {
    display: none;
  }

  .section-main {
    /* If we have background-color set, we use padding to make spaces */
    padding: 4.8rem 0 0 0;
    background: rgb(255, 212, 59);
    background: linear-gradient(
      94deg,
      rgba(255, 212, 59, 1) 32%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .liverpool {
    margin-bottom: 3.4rem;
  }

  .btn--border:link,
  .btn--border:visited {
    padding: 1.3rem 3.2rem !important;
  }

  .btn-learn {
    padding: 1.2rem 3.2rem !important;
  }

  .grid--2-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .review-section {
    grid-template-columns: repeat(2, 1fr);
  }

  /* HOW SECTION */

  .heading-secondary {
    font-size: 3rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  /* IMPORTANT: changing the gaps between the photo and the text in the grid gap option - TRICK: */
  .step-img-box {
    transform: translateY(2.4rem);
  }

  .step-img {
    width: 35%;
  }

  .step-img-box::before {
    width: 50%;
  }

  .step {
    margin-top: 2rem;
  }

  /* MEALS */

  .meal--container {
    padding: 0 10rem;
  }

  .meal-options {
    row-gap: 2.4rem;
  }

  .option {
    /* flex-direction: row;
    gap: 2.4rem;
    padding-bottom: 0rem; */
  }

  .option p {
    /* width: 13rem;
    display: flex;
    justify-content: center; */
  }

  .btn-options {
    /* flex-direction: column;
    gap: 3.2rem; */
  }

  .diet {
    justify-content: center;
  }

  .diet-text {
    font-size: 2rem !important;
  }

  .diet-list {
    grid-template-columns: 1fr 1fr;
  }

  .diet-text {
    font-size: 1.8rem;
  }

  /* DELIVERY' */

  .section-delivery {
    padding: 3.6rem;
  }

  .delivery-container {
    padding: 0;
  }

  .delivery-car {
    width: 70%;
  }

  .search {
    flex-direction: column;
  }

  .btn--search {
    margin-top: 0.4rem;
    padding: 1.2rem 2.4rem;
  }

  .search .field {
    width: 36rem;
    margin-top: 2rem;
  }

  .delivery-text {
    font-size: 1.8rem;
  }

  .locate-icon {
    font-size: 2.8rem;
    margin-bottom: -0.7rem;
  }

  /* FEATURE */

  .feature-box {
    grid-template-columns: 1fr 1fr;
  }

  .feature-info {
    padding-left: 0;
    margin: 4.2rem 0 4.2rem 2.4rem;
  }

  /* FOOTER */

  .footer {
    background: rgb(255, 212, 59);
    background: linear-gradient(
      270deg,
      rgba(255, 212, 59, 1) 32%,
      rgba(255, 255, 255, 1) 100%
    );
    padding: 5rem 0;
    margin-left: 1.6rem;
  }

  .footer-logo {
    width: 80%;
  }
}
