/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/* *************************** */
/* BELOW 1350px (Smaller desktops) */
/* *************************** */

/* 1350px/16 = 84em */
@media (max-width: 84em) {
  html {
    /* By default, the font was set to 10px, we want to reduce this value so that everything on the screen is scaled, so we reduce the font by 1px to 9px, but since we want to present this value in %, we divide 9px / 16px = 56.25 --> which means that everything will be scaled and visible as 56.25% of the full image in px */
    font-size: 56.25%;
  }

  .logo {
    width: 90%;
  }

  /* FEATURED-IN */
  .logos {
    margin: auto 6rem;
    gap: 6rem;
  }

  .el--1 {
    margin-left: 0rem;
  }

  .el--2 {
    margin-left: 0rem;
  }

  .el--4 {
    margin-left: 0rem;
  }

  /* HERO SECTION */

  /* TESTIMONIALS SECTION */
}

/* *************************** */
/* BELOW 1050px (Landscpe Tablets) */
/* *************************** */
/* 1050px/16 = 65.5em */
@media (max-width: 65.5em) {
  html {
    /* we reduce the font by 1px to 9px, but since we want to present this value in %, we divide 8px / 16px = 50 --> which means that everything will be scaled and visible as 50% of the full image in px */
    font-size: 50%;
  }

  .logo-link {
    justify-content: left;
  }

  .logo {
    width: 80%;
  }

  /* VIDEO SECTION */

  #background-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    overflow: hidden;
  }

  .hero {
    height: 55vh;
  }

  /* MAIN SECTION */
  .section-main {
    padding: 4rem 0;
  }

  .main {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .main-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80rem;
    margin: 0 auto;
    /* justify-content: center;
    align-items: center; */
  }

  .main-text {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .frame {
    width: 640px;
    height: 340px;
    overflow: hidden;
    /* box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* FEATURED-IN SECTION */

  /* FOOTER */

  /* PAYMENT SECTION */

  .modal {
    padding: 2.4rem;
  }

  .gateway-form {
    padding: 0.5rem;
  }

  .gateway--section form .checkout-btn {
    padding: 8px;
    font-size: 12px;
  }
}

/* *************************** */
/* BELOW 944px (Tablets) */
/* *************************** */

/* 944px/16 = 59em */
@media (max-width: 59em) {
  .logo {
    width: 60%;
  }

  .icon-bar {
    display: none;
  }

  .main-nav-list {
    gap: 1.6rem;
    margin-right: 2.4rem;
  }

  /* VIDEO SECTION */

  .hero {
    height: 45vh;
  }

  .hero-btn {
    font-size: smaller;
  }

  /* MAIN SECTION */

  .main-box {
    max-width: 70rem;
    text-align: center;
  }

  .arrow {
    display: none;
  }

  /* FEATURED SECTION */

  .logos {
    gap: 2.4rem;
  }

  .logos img {
    height: 5.5rem;
    filter: brightness(0);
    opacity: 50%;
  }

  .logo_t_margin {
    margin-left: 1rem;
  }

  /* ABOUT SECTION */

  .section-about {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .about-text-box {
    padding: 4rem 8rem;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  /* BOOKING SECTION */

  .section-booking {
    margin-bottom: 2rem;
  }

  .booking-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    column-gap: 3.2rem;
    row-gap: 9.6rem;
  }

  .booking-content {
    text-align: center;
  }

  .booking-attributes {
    margin-left: 13rem;
  }

  .place-info {
    grid-column: -3 / -1;
    text-align: center;
  }

  .list {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20rem;
  }

  .booking-comfort::after {
    top: 4%;
    right: -15%;
  }

  /* REVIEWS SECTION */

  .reviews {
    display: flex;
    gap: 3.4rem;
  }

  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 0 4em;
  }

  /* TTK SECTION */
  .ttk-section {
    margin-bottom: -6rem;
  }

  /* FOOTER */
  .copyright {
    font-size: 1.2rem;
  }
}

/* *************************** */
/* BELOW 704px (Smaller Tablets) */
/* *************************** */
/* 704px/16 = 44em */
@media (max-width: 44em) {
  /* VIDEO SECTION */

  .hero {
    height: 35vh;
  }

  /* MAIN SECTION */

  .heading-primary {
    font-size: 2.4rem;
  }

  .hero-rs {
    font-size: 2.4rem;
  }

  .slide-box {
    overflow: hidden;
  }

  .text-box {
    text-align: center;
  }

  .guests {
    text-align: center;
    margin-right: 0rem;
  }

  /* FEATURED SECTION */

  .logos img {
    height: 5rem;
    /*  code that allows you to edit photos/images and subtitles, e.g.: widening/blurring/color saturation/changing brightness, etc. */
    filter: brightness(0);
  }

  /* BOOKING SECTION */

  .booking-title {
    font-size: 2rem;
    margin: 1.6rem 0 1.2rem 0;
  }

  .booking-attributes {
    margin-left: 5rem;
  }

  .list {
    margin-left: 3rem;
  }

  /* REVIEWS SECTION */

  .reviews-top {
    padding-right: 1.6rem;
  }

  .reviews {
    display: flex;
    gap: 1.2rem;
  }

  /* FOOTER */

  .footer {
    padding: 5rem 0;
  }

  .grid--footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 3.6rem !important;
    row-gap: 3.6rem !important;
    margin-left: 6rem;
  }

  .footer-logo {
    width: 80%;
    display: block;
    margin-bottom: 0.5rem;
  }

  .social-icon {
    font-size: 2.5rem;
  }

  .footer-link:link,
  .footer-link:visited {
    font-size: 1.6rem;
  }

  .footer-nav {
    gap: 1.2rem;
  }

  .footer-heading {
    margin-bottom: 2rem;
  }

  /* *** MOBILE NAVIGATION - BELOW 750px (Tablets) *** */

  /* Social Pages */

  .social-pages {
    gap: 1.2rem;
    margin-top: 0rem;
  }

  /* ----------- */
  .social-pages-link {
    color: #b78727;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(58, 56, 56, 0.904);
    position: fixed;
    /* position: absolute means that this entire item is taken out of the flow here and fundamentally are no longer flex item. It is therefore a completely independent element.  */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    /* We also need to add overflow-x: hidden to 'body' and 'html' and to .header --> position: relative - this means that all elements that will stick out in the X axis will always be hidden */

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;

    /* *** HIDE Navigation *** */
    /* display: none; */
    /* but.. display: none allows NO transitions at all, i.e. if we set display: none to 'transitions' it will not work, so we cannot animate this field, so we have to find another way, i.e. (1, 2, 3): */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  /* ADDING an additional class 'nav-open' to the 'header' in the html, which will apply to the click on 'menu-outline'. 'nav-open' is now the parent element of 'main-nav'. This class is used to make the menu appear */
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  /* We now want the 'menu-outline' icon to disappear and 'close-outline' to appear instead when the mobile-nav menu is opened */
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 2.8rem !important;
    margin-right: 0;
  }

  .main-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.8rem;

    /* z-index: 9999 added to cover all elements */
    z-index: 9 !important;
  }

  .main-nav-link:link,
  .main-nav-link:visited,
  .main-nav-link:link span,
  .main-nav-link:visited span {
    font-size: 2.8rem !important;
    color: #fff;
  }

  .element:link,
  .element:visited {
    font-size: 2.4rem !important;
    color: #fff;
  }

  .element:first-child {
    color: #538b09;
    border-right: 1px solid #fff;
  }

  /* PAYMENT SECTION */

  .modal {
    width: 80%;
    z-index: 20 !important;
  }
}

/* *************************** */
/* BELOW 544px (Phones) */
/* *************************** */

/* 550px/16 = 34em */
@media (max-width: 34em) {
  html {
    font-size: 44%;
  }

  .logo {
    width: 45%;
  }

  /* VIDEO SECTION */

  .hero-btn {
    font-size: 3.5rem;
  }

  .hero {
    height: 25vh;
  }

  /* MAIN SECTION */

  .main-box {
    grid-template-columns: 1fr;
    max-width: 55rem;
    /* margin-left: 8rem; */
  }

  /* FEATURED-IN SECTION */

  /* SECTION ABOUT */

  .about-text-box {
    padding: 4rem 2rem 0rem 2rem;
  }

  /* BOOKING SECTION */

  .section-booking {
    margin-bottom: 0rem;
  }

  .booking-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.5fr;
    row-gap: 6.4rem;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 10rem !important;
  }

  .booking-attributes {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .booking-comfort {
    grid-row: 2 / 3;
  }

  .place-info {
    grid-column: -3 / -1;
    grid-row: 3 / 4;
    text-align: center;
    margin-top: 2rem;
  }

  .list {
    margin-left: 0rem;
  }

  /* REVIEW SECTION */

  .reviews-top {
    border-right: none;
  }

  .score {
    display: none;
  }

  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    padding: 0 0em;
  }

  /* TTK SECTION */
  .ttk {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
    margin: 3.6rem 0 1.2rem 0;
    text-align: center;
  }

  /* PAYMENT SECTION */

  .card-box img {
    width: 80%;
  }

  .gateway-box {
    padding: 2.4rem 0.5rem 0rem 0.5rem;
  }

  .gateway--section form .checkout-btn {
    padding: 4px;
    font-size: 12px;
  }
}

/* *************************** */
/* BELOW 350px (Old Phones) */
/* *************************** */

/* 350px/16 = 22em */
@media (max-width: 22em) {
  html {
    font-size: 44%;
  }

  .review-box {
    margin-left: 3.2rem;
  }

  .bottom {
    display: flex;
    gap: 20px;
  }

  .button {
    width: 15px;
    height: 15px;
    border: 1px solid #538b09;
    border-radius: 50%;
    cursor: pointer;
  }

  /* FEATURED-IN SECTION */

  .logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-left: 5rem;
  }

  .el--1 {
    margin-left: 3rem;
  }

  .el--5 {
    margin-left: 15rem;
  }

  /* BOOKING */
  .list {
    margin-left: -5rem;
  }
}
